In [1]:
import numpy as np
import pandas as pd

In [4]:
# Extraer información del archivo
cv=pd.read_csv('/content/country_vaccinations.csv',parse_dates=['date'])

In [5]:
# Estructura y tipos de datos
cv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3081 entries, 0 to 3080
Data columns (total 15 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   country                              3081 non-null   object
 1   iso_code                             2833 non-null   object
 2   date                                 3081 non-null   datetime64[ns]
 3   total_vaccinations                   1980 non-null   float64
 4   people_vaccinated                    1643 non-null   float64
 5   people_fully_vaccinated              1016 non-null   float64
 6   daily_vaccinations_raw               1642 non-null   float64
 7   daily_vaccinations                   2960 non-null   float64
 8   total_vaccinations_per_hundred       1980 non-null   float64
 9   people_vaccinated_per_hundred        1643 non-null   float64
 10  people_fully_vaccinated_per_hundred  1016 non-null   float64
 11  daily_vaccinations_per_million       2960 non-null   float64
 12  vaccines                             3081 non-null   object
 13  source_name                          3081 non-null   object
 14  source_website                       3081 non-null   object
dtypes: datetime64[ns](1), float64(9), object(5)
memory usage: 361.2+ KB

In [6]:
# Vacunas aplicadas de cada compañía
cv[['vaccines','total_vaccinations']].groupby('vaccines').sum()

                                                    total_vaccinations
vaccines
Covaxin, Oxford/AstraZeneca                               1.064500e+08
Moderna, Oxford/AstraZeneca, Pfizer/BioNTech              3.268787e+08
Moderna, Pfizer/BioNTech                                  1.118616e+09
Oxford/AstraZeneca                                        3.366723e+06
Oxford/AstraZeneca, Pfizer/BioNTech                       5.718647e+08
Oxford/AstraZeneca, Pfizer/BioNTech, Sinopharm/...        9.920366e+07
Oxford/AstraZeneca, Sinopharm/Beijing                     8.006937e+06
Oxford/AstraZeneca, Sinopharm/Beijing, Sputnik V          2.722800e+04
Oxford/AstraZeneca, Sinovac                               5.725755e+07
Oxford/AstraZeneca, Sputnik V                             6.500000e+04
Pfizer/BioNTech                                           3.900395e+07
Pfizer/BioNTech, Sinopharm/Beijing                        6.004334e+06
Pfizer/BioNTech, Sinopharm/Beijing, Sputnik V             7.801974e+06
Pfizer/BioNTech, Sinovac                                  1.260606e+07
Sinopharm/Beijing                                         1.695970e+05
Sinopharm/Beijing, Sinopharm/Wuhan, Sinovac               1.584870e+08
Sinovac                                                   7.123842e+07
Sputnik V                                                 1.519488e+07

In [7]:
# Cantidad de vacunas aplicadas en todo el mundo
cv['total_vaccinations'].sum()

2602242783.0

In [8]:
# Promedio de vacunas aplicadas por país
cv[['country','total_vaccinations']].groupby('country').mean()

                          total_vaccinations
country
Albania                         4.106923e+02
Algeria                         1.500000e+01
Andorra                         9.676667e+02
Anguilla                        6.705000e+02
Argentina                       3.355479e+05
...                                      ...
Turks and Caicos Islands        3.216500e+03
United Arab Emirates            2.681180e+06
United Kingdom                  7.450718e+06
United States                   2.131574e+07
Wales                           3.317685e+05

[90 rows x 1 columns]

In [11]:
# Cantidad de vacunas aplicadas el día 29/01/21 en todo el mundo
Jan29=cv.loc[cv['date']=='2021-01-29']
Jan29['total_vaccinations'].sum()

74388085.0

In [12]:
# DataFrame conDiferencias
conDiferencias=cv
conDiferencias['diferencias']=conDiferencias['daily_vaccinations']-conDiferencias['daily_vaccinations_raw']

In [13]:
print(conDiferencias['diferencias'].head())

0     NaN
1     NaN
2     NaN
3     3.0
4   -12.0
Name: diferencias, dtype: float64

In [14]:
# Periodo de tiempo entre fecha más reciente y más antigua
cv['date'].max()-cv['date'].min()

Timedelta('62 days 00:00:00')

In [15]:
# DataFrame conCantidad
conCantidad=cv 
conCantidad['canVac']=conCantidad['vaccines'].str.split(', ').str.len()

In [17]:
print(conCantidad['canVac'])

0       1
1       1
2       1
3       1
4       1
       ..
3076    2
3077    2
3078    2
3079    2
3080    2
Name: canVac, Length: 3081, dtype: int64

In [20]:
#DataFrame antes20
antes20=cv.loc[cv['date']<'2020-12-20']
print(antes20.head())

    country iso_code       date  total_vaccinations  people_vaccinated  \
406  Canada      CAN 2020-12-19                 NaN             8734.0
543   China      CHN 2020-12-15           1500000.0                NaN
544   China      CHN 2020-12-16                 NaN                NaN
545   China      CHN 2020-12-17                 NaN                NaN
546   China      CHN 2020-12-18                 NaN                NaN

     people_fully_vaccinated  daily_vaccinations_raw  daily_vaccinations  \
406                      NaN                     NaN                 NaN
543                      NaN                     NaN                 NaN
544                      NaN                     NaN            187500.0
545                      NaN                     NaN            187500.0
546                      NaN                     NaN            187500.0

     total_vaccinations_per_hundred  people_vaccinated_per_hundred  \
406                             NaN                           0.02
543                             0.1                            NaN
544                             NaN                            NaN
545                             NaN                            NaN
546                             NaN                            NaN

     people_fully_vaccinated_per_hundred  daily_vaccinations_per_million  \
406                                  NaN                             NaN
543                                  NaN                             NaN
544                                  NaN                           130.0
545                                  NaN                           130.0
546                                  NaN                           130.0

                                        vaccines                 source_name  \
406                     Moderna, Pfizer/BioNTech        Government of Canada
543  Sinopharm/Beijing, Sinopharm/Wuhan, Sinovac  National Health Commission
544  Sinopharm/Beijing, Sinopharm/Wuhan, Sinovac  National Health Commission
545  Sinopharm/Beijing, Sinopharm/Wuhan, Sinovac  National Health Commission
546  Sinopharm/Beijing, Sinopharm/Wuhan, Sinovac  National Health Commission

                                        source_website  diferencias  canVac
406  https://health-infobase.canada.ca/covid-19/vac...          NaN       2
543  https://www.reuters.com/article/health-coronav...          NaN       3
544  https://www.reuters.com/article/health-coronav...          NaN       3
545  https://www.reuters.com/article/health-coronav...          NaN       3
546  https://www.reuters.com/article/health-coronav...          NaN       3

In [23]:
#DataFrame Pfizer
pfizer=cv[cv['vaccines'].str.contains('pfizer',case=False)]
print(pfizer.head())

   country iso_code       date  total_vaccinations  people_vaccinated  \
0  Albania      ALB 2021-01-10                 0.0                0.0
1  Albania      ALB 2021-01-11                 NaN                NaN
2  Albania      ALB 2021-01-12               128.0              128.0
3  Albania      ALB 2021-01-13               188.0              188.0
4  Albania      ALB 2021-01-14               266.0              266.0

   people_fully_vaccinated  daily_vaccinations_raw  daily_vaccinations  \
0                      NaN                     NaN                 NaN
1                      NaN                     NaN                64.0
2                      NaN                     NaN                64.0
3                      NaN                    60.0                63.0
4                      NaN                    78.0                66.0

   total_vaccinations_per_hundred  people_vaccinated_per_hundred  \
0                            0.00                           0.00
1                             NaN                            NaN
2                            0.00                           0.00
3                            0.01                           0.01
4                            0.01                           0.01

   people_fully_vaccinated_per_hundred  daily_vaccinations_per_million  \
0                                  NaN                             NaN
1                                  NaN                            22.0
2                                  NaN                            22.0
3                                  NaN                            22.0
4                                  NaN                            23.0

          vaccines         source_name  \
0  Pfizer/BioNTech  Ministry of Health
1  Pfizer/BioNTech  Ministry of Health
2  Pfizer/BioNTech  Ministry of Health
3  Pfizer/BioNTech  Ministry of Health
4  Pfizer/BioNTech  Ministry of Health

                                      source_website  diferencias  canVac
0  https://shendetesia.gov.al/vaksinimi-anticovid...          NaN       1
1  https://shendetesia.gov.al/vaksinimi-anticovid...          NaN       1
2  https://shendetesia.gov.al/vaksinimi-anticovid...          NaN       1
3  https://shendetesia.gov.al/vaksinimi-anticovid...          3.0       1
4  https://shendetesia.gov.al/vaksinimi-anticovid...        -12.0       1

In [ ]:
# Guardando en Excel
conDiferencias.to_excel('content/resultadosReto.xlsx',sheet_name='conDiferencias')
conCantidad.to_excel('content/resultadosReto.xlsx',sheet_name='conCantidad')
antes20.to_excel('content/resultadosReto.xlsx',sheet_name='antes20')
pfizer.to_excel('content/resultadosReto.xlsx',sheet_name='pfizer')